.arrow_down {
  position: absolute;
  left: 50%;
  bottom: -36px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);

  img {
    height: 48px;
    width: 48px;
  }
}

.liquidNativeToken_to_nativeToken_info {
  margin-top: 20px;
}

.error_wrapper {
  height: 42px;
}

.available_amount_validation {
  display: flex;
  justify-content: space-between;

  @include for-tablet-landscape-down {
    flex-direction: column;
    align-items: center;

    & > :first-child {
      margin-bottom: 10px;
    }
  }
}

.percentage_buttons_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  @include for-tablet-landscape-down {
    flex-direction: column;

    & > div {
      margin-bottom: 20px;
    }
  }
  // flex justify-between items-center mb-6
}

.root {
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
  height: 100%;
  // margin-top: 32px;
  // padding: 16px !important;
  // flex-direction: column;

  @include for-tablet-landscape-up {
    // padding: 36px 32px;
    // min-height: 350px;
  }
  @include for-tablet-landscape-down {
    align-items: center;
    justify-content: center;
    padding: 16px !important;
    height: auto;
    min-width: auto;
  }
}
