.coinListEligibility {
  margin-top: 3rem;
  & > div {
    margin: auto;
    position: relative;
    box-sizing: border-box;
    padding: 25px;
    color: #fff;
    background: #111111;
    border: 2px solid #2e2e2e;
    box-sizing: border-box;
    box-shadow: 3px 3px 12px #010101;
    border-radius: 24px;
    font-weight: 500;
    & > ul {
      margin: 0;
    }

    & > ul li {
      font-size: 16px;
      line-height: 28px;
      color: #f9f9f9;
    }
  }

  & > h4 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 22px;
  }
}
