.table {
  margin-top: 24px;
  @include for-tablet-landscape-up {
    margin-top: 64px;
  }
}

.tvl_tooltips_container {
  max-width: 845px;
  width: 100%;
  margin: 0 auto;

  .tvl_container {
    margin-bottom: 24px;
    @include for-tablet-landscape-up {
      margin-bottom: 40px;
    }
  }
}
.breadcrumbs {
  margin-bottom: 24px;
  @include for-tablet-landscape-up {
    display: none;
  }
}
