.box {
  display: flex;
  justify-content: space-between;
  @include for-tablet-landscape-up {
    padding: 36px 40px;
    align-items: center;
    flex-wrap: wrap;
  }
  @include for-tablet-landscape-down {
    padding: 20px;
    flex-direction: column;
  }
  .table {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    color: #ffffff;

    .thead {
      display: table-header-group;

      .row {
        display: table-row;
        outline: 0;
        vertical-align: middle;
        text-align: left;

        th {
          text-align: left;
          padding: 16px;
        }
      }
    }

    .tbody {
      //display: table-row-group;

      .row {
        text-align: left;

        @include for-tablet-landscape-up {
          padding: 16px;
        }

        .label {
          @include for-tablet-landscape-down {
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        & > :last-child {
          div {
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
        }

        td {
          font-size: 18px;
          @include for-tablet-landscape-up {
            padding: 16px;
          }
          @include for-tablet-landscape-down {
            padding: 16px 8px;
            font-size: 14px;
          }
        }
      }
    }

    .desktop_only {
      @include for-tablet-landscape-down {
        display: none;
      }
    }
    .mobile_withdraw_time {
      @include for-tablet-landscape-up {
        display: none;
      }
      padding: 0 10px 10px;
      font-size: 14px;
    }
    .mobile_only {
      @include for-tablet-landscape-up {
        display: none;
      }

      td {
        padding: 8px;
      }
      .mobile_td_button {
        display: flex;
        justify-content: flex-end;
      }
    }

    .mobile_button_tr {
      border-bottom: 1px solid $color-dark-200;
      div {
        padding-bottom: 20px;
      }
    }
  }
}
