@import "../../styles/stader_ui_lib_global";

.tab_root {
  flex: 1;
  height: 100%;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.tab_active {
  @extend .sul_gradient_outline;
  color: #fff;
  font-weight: 700;
  background-color: #111;

  &::before {
    border-radius: 12px !important;
  }

  &::after {
    border-radius: 12px;
  }

  @include for-tablet-landscape-down { 
    flex-direction: column;
  }
}

.tab_inactive {
  color: #8c8c8c;
  border-right: 1px solid #2e2e2e;
  border-radius: 0;
  margin: 10px 0;
  height: calc(100% - 20px);
  &:last-child{
    border-right:none;
  }
 
  @include for-tablet-landscape-down { 
    flex-direction: column;
  }
}

.tabs {
  display: flex;
  background-color: #0a0a0a;
  height: 48px;
  border-radius: 12px;
}

.tab_subtext {
  color: #43b8d2;
  font-size: 11px;
  margin-left: 8px;
  font-weight: 500;
}
