.root {
  padding: 8px 10px;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  margin-right: 12px;
  margin-bottom: 0;
  color: #f9f9f9;
  background: #2e2e2e;
  border-radius: 10px;
  display: inline-block;
}