@import "./styles/base/variable";
// @import "mixins";

.header {
  padding: 0 16px;
  background-color: $background-primary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;

  height: 56px;
  @include for-tablet-landscape-up {
    height: 94px;
  }

  @include respond-above(sm) {
    padding: 0 32px;
  }

  .main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-primary;
    // height: 94px;

    .logo {
      width: 140px;

      @include for-tablet-landscape-down {
        width: 70px;
      }
    }

    .wallet_menu {
      display: flex;
      align-items: center;

      @include for-tablet-landscape-down {
        display: none;
      }
    }

    .wallet_button {
      @include for-tablet-landscape-down {
        // display: none;
      }
    }

    .menu_button {
      margin-left: 8px;
      @include respond-above(sm) {
        display: none;
      }
    }
  }
}
.dialog {
  position: relative;
  background-color: transparent !important;
  &_close_icon {
    position: absolute;
    top:15px;
    right:15px;
    fill: #8C8C8C !important;
    cursor: pointer;
  }
  form {
  h2{
    text-align: center;
    font-weight: 900;
    color: #ffffff !important;
  }

  button[type=submit] {
    background-color: #F04ADC !important;
    width: 100%;
  } 
}
 &__root{
   margin: auto;
    min-width: 600px;
    min-height: 300px;
    background: #111 !important;
    border: none;
}
}
.checkbox{
  
    margin: auto;
    display: flex;
    cursor: pointer;
    position: relative;


& > span {
    color: #34495E;
    padding: 0rem 0.5rem;
}

& > input {
    height: 18px;
    width: 18px;
    margin-top: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    transition-duration: 0.3s;
    background-color: #1E1E1E;
    border: 1px solid #F9F9F9;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
      background-color: #3E3E3E;
    }
  }

& > input:checked {
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
}

& > input:checked::before {
    content: '\2713';
    display: block;
    text-align: center;
    font-weight: 900;
    color: #000;
    position: absolute;
    left: 0.2rem;
    top: 0.1rem;
}

& > input:active {
    border: 2px solid #34495E;
}
}


