
.table_text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.table_item_alignment {
    padding-left: 10px;
}

.button_withdraw_funds {
    min-width: 170px;
    min-height: 40px;
    text-transform: none;
    // place-content: end;
    // margin-top: 150px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    height: 60px;
    text-align: center;
    border: 1px solid #2E2E2E;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    top:20px;

    &:disabled {
        opacity: 0.2;
    }

    &:hover {
        transform: scale(0.98);
    }
}

.button_withdraw_rewards {
    min-width: 170px;
    min-height: 40px;
    text-transform: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    height: 60px;
    text-align: center;
    border: 1px solid #2E2E2E;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 16px;

    &:disabled {
        opacity: 0.2;
        pointer-events: none;
    }

    &:hover {
        transform: scale(0.98);
    }
}