.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;

  @include for-tablet-landscape-down {
    padding: 16px;
  }
  .total {
    display: flex;
    justify-content: space-between;

    @include for-tablet-landscape-down {
      margin: 30px 0;
    }
  }
}
