@import "../../../styles/base/variable";

.wallet_dropdown_container {
  position: relative;
}
.dropdown_box {
  top: 0;
  right: 0;
  position: absolute;
  width: 250px;
  box-shadow: 0 0 21px 4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  @include respond-below(sm) {
    min-width: 250px;
    width: 100%;
  }

  button{
    -webkit-box-shadow: 2px 8px 5px -4px rgba(0, 0, 0, 0.37);
-moz-box-shadow: 2px 8px 5px -4px rgba(0, 0, 0, 0.37);
box-shadow: 2px 8px 5px -4px rgba(0, 0, 0, 0.37);
    &:not(:first-child) {
      margin-top: 15px ;
    }
    
  }
}

.term_of_service {
  color: #43b8d2;
}

.wallet_icon {
  position: relative;
}

.wallet_connected_badge {
  position: absolute;
  top: -4px;
  left: -5px;
}
.divider {
  height: 15px;
  width: 1px;
  background-color: #3e3e3e;
  margin: 0 14px;
}

.icon_only_wallet {
  position: relative;

  .badge_icon {
    position: absolute;
    color: #fff;
    font-size: 12px;
    top: -4px;
    left: -5px;
  }

  .badge_wallet_connected {
    color: $color-success;
  }

  .badge_wallet_disconnected {
    color: $color-warning;
  }
}

.popover {
  z-index: 100;
}

.checkbox{
  
  margin-right: 5px;
  margin-top: 0;
  
    display: inline-flex;
    cursor: pointer;
    position: relative;


& > span {
    color: #34495E;
    padding: 0.5rem 0.25rem;
}

& > input {
    position: relative;
    height: 18px;
    width: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    transition-duration: 0.3s;
    background-color: #1E1E1E;
    border: 1px solid #F9F9F9;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
      background-color: #3E3E3E;
    }
  }

& > input:checked {
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
}

& > input:checked::before {
    content: '\2713';
    display: block;
    text-align: center;
    font-weight: 900;
    color: #000;
    position: absolute;
    left: 0.2rem;
    top: -0.2rem;
}

& > input:active {
    border: 2px solid #34495E;
}
}
