@import '../../../styles/base/_variable.scss';

.walletButton {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	border-radius: 16px;
	padding: 16px;
	font-size: 12px;
	font-weight: 700;
	cursor: pointer;
	color: $color-white;
	border: none;
	outline: none;
	background-color: transparent;

	@include respond-above(sm) {
		border: 1px solid $color-primary;
	}

	.btnContent {
		display: none;

		@include respond-above(sm) {
			display: inline-block;
		}
	}

	.connectedIcon {
		position: absolute;
		top: 9px;
		left: 11px;
	}

	.btnDisplay {
		display: flex;
		align-items: center;

		.walletIcon {
			margin-right: 0;

			svg {
				transform: scale(1.2) translateY(0.15em);
			}

			@include respond-above(sm) {
				margin-right: 8px;
			}
		}

		.walletAddress {
			font-family: "Montserrat", sans-serif;
			font-size: 14px !important;
			line-height: 16px !important;
			text-transform: capitalize;
			margin-left: 16px;
			color: #f9f9f9 !important;
			font-weight: 500 !important;
		}

		.walletBalance {
			font-family: "Montserrat", sans-serif;
			font-size: 14px !important;
			line-height: 16px !important;
			font-weight: 700 !important;
			position: relative;
			display: inline-block;
			height: 100%;
			margin-left: 16px;
			padding-left: 1em;
			&::before {
				content: "";
				position: absolute;
				top: 1px;
				bottom: 1px;
				left: 0;
				border-left: 1px solid #3e3e3e;
			}
		}
	}

	&:hover {
		border-color: #f04adc; //1px solid ${({ theme }) => theme.colors.positive};
		background-color: rgba(255, 255, 255, 0.04);
	}
}
