.stakePlusTitle {
  color: #f9f9f9;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
}

.stakeGridBox {
  width: 100%;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start !important;
  align-items: flex-start !important;
  padding: 25px;
  font-size: 18px;
  color: #F9F9F9;
  border: 1px solid #3E3E3E;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 12px #010101;
  box-shadow: 3px 3px 12px #010101;
  -webkit-align-items: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  position: relative;

  p {
    margin: 0px;
  }

  &:hover {
    border: 1px solid #FFFFFF;
  }

  .title {
    padding-bottom: 40px;
  }

  .airdrop-type {
    font-size: 12px;
  }
}

.countCircleContainer{
  padding-left:7px;
  span{
    border: 1px solid;
    padding: 5px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
  }
}

.outlineNoBgBtn {
  width: 100%;
  color: #fff !important;
  border: 1px solid !important;
  border-radius: 0;
  padding: 15px !important;
}

.outlineNoBgBtn:hover {
  background: #fff !important;
  border: 1px solid !important;
  color: #111111 !important;
}

.marginAuto {
  margin: 0 auto !important;
}

.stakePlusDivider {
  margin: 55px 0px 35px 0px;
  border: 1px solid #3E3E3E;
}

.chevron {
  font-size: 35px;
  font-weight: normal;
  margin-top: -4px;
  position: absolute;
  top: 0px;
  right: 18px;
}
.filterItemList{
  padding: 12px 0px 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 5px;
  font-size: 12px;
}
.legendImage{
  height:10px
}
