.liquidStakeContainer {
    width: 100%;
    padding: 56px 0;
    margin: auto;

    .adornment {
        color: $color-off-white;
    }

    .stats-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $color-off-white;
        font-weight: bold;
        font-size: 18px;
    }

    .stats-value {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .stast-info {
        font-size: 20px;
        margin-left: 4px;
        cursor: pointer;
    }

    .stats-section {
        margin-bottom: 32px;
    }

    .stats-section-header {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: $color-off-white;
        margin-bottom: 12px;
    }

    .stats {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start !important;
        padding: 36px 32px;
        font-size: 24px;
        color: $color-off-white;
        border: 1px solid #2e2e2e;
        box-sizing: border-box;
        box-shadow: 3px 3px 12px #010101;
        border-radius: 24px;
        font-weight: 500;

        .liquidNativeToken {
            height: 36px;
            width: 36px;
            margin-right: 6px;
        }

        .tokenBalanceIcon {
            height: 32px;
            width: 32px;
            margin-left: 4px;
        }

        .value {
            flex-direction: column;
            justify-content: end;
            font-size: 24px;
            line-height: 32px;
            margin-right: 8px;
        }

        .denom-value {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 6px;
            color: $color-blue;
        }

        .label {
            flex-direction: column;
            justify-content: end;
            font-size: 16px;
            line-height: 30px;
        }

        .tvl {
            flex-direction: column;

            .usd {
                font-size: 16px;
                line-height: 18px;
                color: $color-gray;
            }
        }
    }

    .loader-container {
        height: 334px;
        flex-direction: column;
        color: $color-off-white;

        img {
            height: 150px;
            width: 150px;
            margin-bottom: 16px;
        }
    }

    .footer-note {
        margin-bottom: 8px;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        width: 100%;
        color: $color-gray;
    }

    .footer-tooltip {
        margin-bottom: 8px;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        width: fit-content;
        color: $color-gray;
        cursor: pointer;

        .footer-tooltip-icon {
            margin-left: 4px;
            font-size: 12px;
        }

        &:hover {
            color: $color-secondary-pink !important;
        }
    }

    .stakeCardBorder {
        border: 1px solid #2e2e2e;
        border-radius: 24px;
        padding: 32px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stakeCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $background-secondary;
        border: 1px solid #2e2e2e;
        box-sizing: border-box;
        box-shadow: 3px 3px 12px #010101;
        border-radius: 24px;
        padding: 32px 40px;
        margin-top: 32px;
        width: 600px;
        min-height: 400px;
    }

    .toggleBackground {
        background: #0a0a0a;
        box-shadow: 1.5px 1.5px 3px rgba(30, 30, 30, 0.75);
        border-radius: 12px;
        width: 600px;
        height: 60px;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }

    .slider {
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        background: $background-secondary;
        border: 1px solid #3e3e3e;
        border-radius: 12px;
        -webkit-transition: left 0.2s ease-in-out;
        transition: left 0.2s ease-in-out;
    }

    .toggleSlider {
        left: 50%;
        -webkit-transition: left 0.2s ease-in-out;
        transition: left 0.2s ease-in-out;
    }

    .tabToggle {
        width: 50%;
        color: $color-gray;
        font-size: 18px;
        transition: position 500ms eas;
        z-index: 2;
    }

    .activeTab {
        color: $color-off-white;
        font-weight: 700;
        transition-property: color, font-weight, background-color, border-color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
    }

    .availableAmount {
        color: $color-blue;
    }

    .inputContainer {
        width: 100%;
        margin-bottom: 24px;
        position: relative;
    }

    .inputInfo {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        margin-bottom: 12px;
    }

    .validationMessage {
        margin-bottom: 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        width: 100%;
        color: $color-gray;
    }

    .exchange-rate {
        color: $color-off-white;
    }

    .stake-percentage-container {
        width: 100%;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .fees {
            font-family: "Montserrat", sans-serif !important;
            font-size: 12px !important;
            line-height: 16px;
            color: #8c8c8c;
        }

        .stake-percentage {
            width: 64px;
            height: 32px;
            padding: 1px;
            border-radius: 8px;
            margin-right: 8px;
            background: #1e1e1e;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

            .stake-percentage-item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 64px;
                height: 32px;
                color: $color-gray;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                cursor: pointer;
            }

            &:hover {
                background-image: linear-gradient(#111111, #111111),
                radial-gradient(circle at top left, #f04adc, #00dbff);
                background-origin: border-box;
                background-clip: content-box, border-box;
            }
        }

        .stake-percentage-active {
            width: 64px;
            height: 32px;
            padding: 0px;
            margin-right: 8px;
            border-radius: 8px;
            color: $background-secondary !important;
            background: $color-off-white;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

            .stake-percentage-item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 64px;
                height: 32px;
                color: $background-secondary !important;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                cursor: pointer;
            }
        }

        .shortcut:hover,
        .activeShortcut {
            color: $color-blue;
        }
    }

    .staking-divider {
        background-color: $color-secondary-pink;
        width: 100%;
        height: 1px;
        margin-top: 0;
        opacity: 1;
    }

    .amountField {
        width: 100%;
        border-radius: 10px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        margin-bottom: 5px;
        font-size: 20px;
        background: rgb(11, 11, 11);
        box-shadow: rgb(2 2 2) -1px -1px 2px, rgb(35 35 35) 1px 1px 2px;

        .MuiTypography-colorTextSecondary {
            color: currentColor;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            line-height: 20px;
        }
    }

    .stakeButtonItem {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;

        .stakeButton {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            text-transform: capitalize;
            font-size: 18px;
            line-height: 22px;
            color: $color-off-white;
            padding: 12px 32px;
            border: 1px solid $color-secondary-pink;
            border-radius: 16px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
            background: $background-secondary !important;
            width: 100%;
            height: 100%;
            min-width: 200px;
            margin-top: 24px;

            &:disabled {
                opacity: 0.3;
            }

            &:disabled {
                opacity: 0.3;
            }
        }
    }

    .arrowDown {
        position: absolute;
        left: 50%;
        bottom: 56px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);

        img {
            height: 48px;
            width: 48px;
        }
    }

    .success-state {
        height: 334px;
        flex-direction: column;
        color: $color-off-white;

        .stakeButton {
            margin-top: 32px;
        }

        .success-gif {
            height: 100px;
            width: 100px;
            margin-bottom: 16px;
        }
    }
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}
