.sul_gradient_outline_before {
  width: calc(100% + 2px);
  height: calc(100% + 3px);
  top: -1px;
  left: -1px;
  background: linear-gradient(90deg, #f04adc 0%, #00dbff 100%) !important;
  content: "";
  position: absolute;
  z-index: -2;
}

.sul_gradient_outline_after {
  background: #111111;
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
}

.sul_gradient_outline {
  position: relative;
  z-index: 1;

  &::before {
    @extend .sul_gradient_outline_before;
  }

  &::after {
    @extend .sul_gradient_outline_after;
  }
}

.sul_gradient_outline_hover {
  position: relative;
  z-index: 1;

  &:hover::before {
    @extend .sul_gradient_outline_before;
  }

  &:hover::after {
    @extend .sul_gradient_outline_after;
  }
}

.speed_container{
  position: relative;
  width: 50px;
}
