.coinListSignup {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column;

  & > div {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    padding: 24px;
    color: #fff;
    background: #111111;
    border: 2px solid #2e2e2e;
    box-sizing: border-box;
    box-shadow: 3px 3px 12px #010101;
    border-radius: 24px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
  }

  & > h4 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 22px;
  }
}

.coinListSignupForm {
  & > ol {
    font-weight: 500;
  }
  & > ol li {
    margin-top: 1rem;
  }
  input[type="radio"] {
    accent-color: #f04adc;
    color-scheme: dark;
    margin-top: 0.5em;
    cursor: pointer;
  }
  label {
    font-weight: 600;
    margin-left: 5px;
    cursor: pointer;
  }
  button {
    padding: 0.7em 3em;
    background: linear-gradient(
      90deg,
      #f04adc 0%,
      rgba(240, 74, 220, 0.7) 100%
    );
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    color: #fff;
    font-weight: 800;
    outline: 0;
    border: 0;
    display: block;
    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
  & > p {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    color: #e2b93b;
  }
  .active {
    color: #f04adc;
  }
  .errorMsg {
    color: red;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}
