
.button{
  border-radius: 16px;
  height: 56px;
  padding: 0 36px;
  font-weight: 700;
}

.button_outline{
  border: 1px solid #eb5fe2
}

.button_small{
  height: 40px !important;
  //padding: 0 10px;
}