.root {
  display: flex;
  align-items: center;

  @include for-tablet-landscape-down {
    justify-content: space-between;

    .inactive_wrap {
      border-bottom: 1px solid $color-dark-200;
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }

    .active_wrap {
      border-bottom: 1px solid $color-secondary;
      display: flex;
      flex-grow: 1;
      justify-content: center;
    }
  }

  @include for-tablet-landscape-up {
    .inactive_wrap {
      cursor: pointer;
    }

    & > :not(:last-child) {
      margin-right: 96px;
    }
  }

  .label {
    @include for-tablet-landscape-down {
      font-size: 11px;
    }
  }
}
