.coinListRegistrationClosed {
  margin-top: 3rem;
  & > h4 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 22px;
  }
  & > div {
    margin: auto;
    position: relative;
    box-sizing: border-box;
    padding: 25px;
    color: #fff;
    background: #111111;
    border: 2px solid #2e2e2e;
    box-sizing: border-box;
    box-shadow: 3px 3px 12px #010101;
    border-radius: 24px;
    font-weight: 500;

    & > h5 {
      font-size: 1.2em;
      font-weight: 500;
      color: #f9f9f9;
      margin: 1.5em 0 0.5em 0;
    }
    & > p {
      color: #00dbff;
      font-size: 1rem;
      margin-bottom: 1.125em;
      padding-bottom: 1.125em;
      border-bottom: 1px solid #2e2e2e;
    }
    & > span {
      color: #8c8c8c;
      font-size: 0.825rem;
    }
  }
}
