.title {
  line-height: 18px !important;
}

.main_wrapper {
  display: flex;
  margin: 16px 32px 16px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.reward_wrapper {
  display: flex;
  align-items: flex-end;
}

.marker {
  min-height: 56px;
  width: 3px;
  margin-right: 12px;
}

.marker_1 {
  background: linear-gradient(180deg, #eb5fe2 0%, rgba(235, 95, 226, 0.6) 100%);
}

.marker_2 {
  background: linear-gradient(
    180deg,
    #8989eb 0%,
    rgba(137, 137, 235, 0.6) 100%
  );
}

.marker_3 {
  background: linear-gradient(180deg, #43b8d2 0%, rgba(67, 184, 210, 0.6) 100%);
}

.swap_chip {
  padding: 6px 8px;
  border-radius: 8px;
  background: linear-gradient(90deg, #7e7ed8 0%, rgba(126, 126, 216, 0.6) 100%);
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.swap_text {
  line-height: 12px !important;
}

.airdrop_wrap {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  & > div {
    margin-right: 30px;
    @include for-tablet-landscape-down {
      margin-bottom: 20px;
    }
  }
}

.airdrop_label {
  line-height: 8px !important;
}

.airdrop_value {
  line-height: 16px !important;
}

.airdrop_image {
  height: 10px;
}

.airdrop_dropdown_container {
  padding: 32px 124px 32px 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 108px;
  grid-row-gap: 24px;
}

.mobile_other_airdrops {
  .show_other {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > div {
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }
  .hide_other {
    display: none;
  }
}

.view_all {
  line-height: 12px !important;

  @include for-tablet-landscape-up {
    cursor: pointer;
    margin-left: 42px !important;
  }

  @include for-tablet-landscape-down {
    margin-top: 20px;
    align-self: center;
  }
}
