@import './styles/base/_variable.scss';

.bannerContent {
  background: $color-blue;
  padding: 8px 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $background-secondary;

  @include respond-above(sm) {
    padding-left: 48px;
    padding-right: 48px;
  }

  .infoIcon {
    color: $background-secondary;
    font-weight: 700;
    font-size: 32px;
    display: none;

    @include respond-above(sm) {
      display: block;
    }
  }

  &.ltBannerContent {
    background: linear-gradient(
                    90deg,
                    #efa853 0%,
                    rgba(239, 168, 83, 0.5) 100%
    );
  }

  .bannerContentText {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    padding-right: 8px;

    @include respond-above(sm) {
      font-size: 16px;
      padding-right: 0;
    }
  }

  .closeBtn {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 32px;
    height: 32px;
    outline: none;
    color: inherit;

    &:active {
      opacity: 0.3;
    }

    @include respond-above(sm) {
      position: absolute;
      right: 8px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
