.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 48px;
  @include for-tablet-landscape-down {
    padding: 16px;
  }
}

.airdrop_wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.airdrop {
  margin-right: 72px;
  margin-top: 12px;
}

.airdrop_label {
  line-height: 40px !important;
  text-transform: uppercase;
}

.airdrop_value {
  line-height: 48px !important;
  font-size: 40px !important;

  @include for-tablet-landscape-down {
    font-size: 24px !important;
  }
}

.airdrop_image {
  height: 12px;
  margin-bottom: 14px;
  margin-left: 8;
}

.airdrop_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 18px 32px;
}

.container {
  @include for-tablet-landscape-up {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .visible_airdrops {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .mobile_airdrops {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include for-tablet-landscape-down {
      & > :first-child {
        display: none;
      }
      & > :nth-child(2) {
        display: none;
      }
    }
  }
  .mobile_toggle_button {
    margin: 20px auto;
  }
}
