.loaderContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;

	.loader {
		max-width: 200px;
		max-height: 200px;
	}

	.loaderText {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: $color-off-white;
	}
}

.loaderContainer60 {
	height: 60vh !important;
}

.successAnimationContainer {
	display: flex;
	justify-content: center;
	align-self: center;
	height: 100%;
	width: 100%;

	.successIcon {
		width: 100%;
		height: 100%;
	}
}

.successAnimationWhiteContainer {
	display: flex;
	justify-content: center;
	align-self: center;
	height: 100%;
	width: 100%;

	.successIcon {
		width: 70px;
		height: 70px;
	}
}
