.section-container {
	border-radius: 20px;
	min-width: 0;
	color: $color-white;
	box-shadow: 6px 6px 12px hsl(0deg 0% 4%), -6px -6px 12px hsl(0deg 0% 11%);
}

.NeuSection-content {
	padding: 0 !important;
}
