.welcome-container {
  border: 0px solid white;
  margin-top: 40px;
  margin-bottom: 40px;

  .welcome-content {
    margin: 0;
    background: $background-secondary;
    color: $color-white;
    padding: 25px 40px 40px 40px;
    border: 1px solid #2e2e2e;
    box-shadow: 3px 3px 12px #010101;
    border-radius: 24px;

    .welcome-main-text {
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      color: $color-off-white;
      margin: 24px 0;
    }

    .welcome-sub-text {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $color-off-white;
      margin-bottom: 0;
    }

    .welcome-page-button {
      background: linear-gradient(
        90deg,
        #f04adc 0%,
        rgba(240, 74, 220, 0.7) 100%
      );
      box-shadow: 2px 2px 4px $background-secondary;
      border-radius: 16px;
      cursor: pointer;
      height: 40px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: $color-white;
      padding: 8px 32px;
      text-transform: capitalize;
    }
  }

  .nowrap{
    white-space: nowrap !important;
  }

  .align-right{
    margin-right: 0;
    margin-left: auto;
  }
}

.welcome-container-liquid-staking {
  .welcome-content {
    margin: 0;
    background: $background-secondary;
    color: $color-white;
    padding: 25px 40px 40px 40px;
    border: 1px solid #2e2e2e;
    box-shadow: 3px 3px 12px #010101;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;

    @include respond-below(sm) {
      flex-direction: column;
    }
  }

  .welcome-page-button {
    margin-top: 72px;
    background: linear-gradient(
      90deg,
      #f04adc 0%,
      rgba(240, 74, 220, 0.7) 100%
    );
    box-shadow: 2px 2px 4px $background-secondary;
    border-radius: 16px;
    cursor: pointer;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $color-white;
    padding: 8px 32px;
    text-transform: capitalize;
  }
}
