.withdrawalHeader {
	color: $color-off-white;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	margin-top: 56px;
}

.withdrawalDescription {
	min-height: 14px;
}

.withdrawalCard {
	display: flex;
	flex-direction: column;
	background: $background-secondary;
	border: 1px solid #2e2e2e;
	box-sizing: border-box;
	box-shadow: 3px 3px 12px #010101;
	border-radius: 24px;
	height: 420px;
	margin-top: 12px;
	padding: 24px 32px;
	overflow-y: hidden;

	.withdrawalTable {
		&::-webkit-scrollbar {
			width: 0.4em;
			height: 16px;
		}

		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
		}

		&::-webkit-scrollbar-thumb {
			background-color: $background-wallet-button;
			border-radius: 6px;
		}

		.withdrawalTableHeader {
			.withdrawalTableHeaderText {
				font-size: 16px;
				font-weight: 500;
				line-height: 20px;
				color: $color-gray;
				border-bottom: none;

				.withdrawalTableText {
					display: flex;
					align-items: center;

					.infoIcon {
						margin-left: 4px;
					}
				}
			}
		}

		.withdrawalTableBody {
			.withdrawalTableBodyText {
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				color: $color-off-white;
				border-bottom: none;
			}

			.withdrawalTableBodyClipboardContent {
				display: flex;
				align-items: center;
				text-transform: uppercase;
			}

			.copy_icon {
				margin-left: 8px;
			}

			.withdrawalInfoIcon {
				color: $color-gray;
				font-size: 16px;
				margin-left: 8px;
				cursor: pointer;
			}

			.withdrawalTableBodyTextSmall {
				font-weight: 500;
				font-size: 14px;
				line-height: 16px;
				margin-left: 4px;
			}

			.withdrawalBodyButtonWrapper {
				display: flex;
				justify-content: flex-end;
				align-items: center;

				.withdrawalBodyButton {
					width: 160px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-weight: 700;
					text-transform: capitalize;
					font-size: 18px;
					line-height: 22px;
					color: $color-off-white;
					padding: 8px 40px;
					border: 1px solid $color-secondary-pink;
					border-radius: 16px;
					box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
					background: $background-secondary !important;

					&:disabled {
						opacity: 0.3;
					}
				}
			}
		}
	}
}
