.root {
  padding: 0;
  margin: 0;
}

.h1 {
  line-height: 40px;
  font-size: 32px;

  @include for-tablet-landscape-down {
    font-size: 28px;
    line-height: 28px;
  }
}

.h3 {
  font-size: 18px;
  line-height: 22px;

  @include for-tablet-landscape-down {
    font-size: 16px;
    line-height: 18px;
  }
}

.body1 {
  line-height: 18px;
  font-size: 16px;

  @include for-tablet-landscape-down {
    font-size: 14px;
    line-height: 16px;
  }
}

.body2 {
  line-height: 16px;
  font-size: 14px;

  @include for-tablet-landscape-down {
    font-size: 13px;
  }
}
