.root {
  @include for-tablet-landscape-down {
    padding: 16px;
  }
  @include for-tablet-landscape-up {
    padding: 24px 32px;
    height: 100%;
  }
  .table {
    width: 100%;

    td,
    th {
      @include for-tablet-landscape-up {
        padding: 16px;
      }
    }

    .desktop_td_button {
      display: flex;
      justify-content: flex-end;

      @include for-tablet-landscape-down {
        display: none;
      }
    }
    .td {
      height: 72px;
      .amount_wrap {
        display: flex;
        align-items: center;

        & > :last-child {
          margin-left: 8px;
        }
      }
    }
    .time {
      white-space: nowrap;

      @include for-tablet-landscape-down {
        text-align: right;
      }
    }

    .moble_tr {
      @include for-tablet-landscape-up {
        display: none;
      }
      .mobile_td_button {
        & > button {
          margin-left: auto;
          width: 120px;
        }
      }
    }
  }
}
