.backdrop {
  z-index: 10000;
  background-color: #111111;
  opacity: 0.9;

  .modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    //   height: 100%;
    z-index: 1000;
    background-color: $color-dark-100;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

    .close_button {
      position: absolute;
      right: 10px;
      top: 10px;
      color: $color-light-800;
    }
  }
}
