.coinListAbout {
  & > div {
    margin: auto;
    position: relative;
    box-sizing: border-box;
    padding: 25px;
    $border: 2px;
    color: #fff;
    background: #000;
    background-clip: padding-box;
    border: solid $border transparent;
    border-radius: 24px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: linear-gradient(to bottom, #f04adc, #00dbff);
    }
  }

  & > h4 {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0.5em;
  }
}
