.root {
  display: flex;
  justify-content: center;
  // padding: 16px;

  @include for-tablet-landscape-up {
    // padding: 36px 32px;
    // min-height: 350px;
  }

  @include for-tablet-landscape-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px !important;
    height: auto;
  }

  .container {
    min-width: 680px;
    width: 100%;
    overflow: hidden;
    position: relative;
    // margin-bottom: 50px;
    @include for-tablet-landscape-down {
      min-width: auto;
    }

    .exchange_rate_container{
      background: #010101;
      color: #F9F9F9;
      position: absolute;
      left: 0;
      right: 0;
      display:none;
      bottom: 0;
      width: 100%;
      min-width: 100%;
      text-align: center;
      background: #010101;
      border: 1px solid #2E2E2E;
      box-sizing: border-box;
      box-shadow: 3px 3px 12px #010101;
      border-radius: 0 0 1.5rem 1.5rem;
      font-size: 14px !important;
      padding: 10px;
        span{
          font-size: 14px !important;
        }
    }
  }

  .headerTitle {
    @include for-tablet-landscape-down {
      display: flex;
      align-items: center;
       margin: 0 0 .75rem 0;
    }
    @include for-phone-only {
      display: flex;
      align-items: center;
     padding: 0 !important; 
    }
  }

  .headerWithInfo {
    @include for-tablet-landscape-down {
      margin: 0 !important;
    }
  }

  .value {
    @include for-tablet-landscape-down {
      font-size: 14px !important;
      margin-top: 0.9rem !important;
    }
    @include for-phone-only {
      font-size: 14px !important;
     padding: 0 !important; 
    }
    
  }
  .nativeToken {
    @include for-tablet-landscape-up {
      margin-top: 4px;
    }
    font-size: 12px;
  }
}
