.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;

  @include for-tablet-landscape-down {
    padding: 16px;
  }

  .sub_row {
    flex: 1;
    display: flex;
    align-items: center;
    @include for-tablet-landscape-down {
      flex-direction: column;
      align-items: flex-start;

      & > :first-child {
        margin-bottom: 8px;
      }
    }
    .title_wrap {
      @include for-tablet-landscape-up {
        min-width: 182px;
        margin-right: 96px;
      }
      @include for-tablet-landscape-down {
        flex: 1;
      }
    }
    .total {
      display: flex;
      align-items: flex-end;

      .value {
        @include for-tablet-landscape-down {
          font-size: 16px !important;
        }
      }
      & > :last-child {
        margin-bottom: 6px;
        margin-left: 10px;
      }
    }
  }
}
