.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 3rem 2.5rem 1.5rem;

  @include for-tablet-landscape-down {
    padding: 24px;
  }
}

.luna_value {
  font-size: 40px !important;
  line-height: 28px !important;
  margin-right: 12px;

  @include for-tablet-landscape-down {
    font-size: 16px !important;
  }
}

.luna_label {
  margin-bottom: -1px;
  @include for-tablet-landscape-down {
    font-size: 10px;
    margin-bottom: 4px;
  }
}

.label {
  font-size: 14px;
}

.info_icon {
  @apply text-light-800 ml-2;
  font-size: 16px !important;
}
