html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  /* prevent abrupt change in smoothing when animations complete (only in Safari) */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: default;
  margin: auto;
}

#__next {
  min-height: 100vh;
}

#nprogress .bar {
  background: $color-secondary-pink;
  height: 6px;
}

.main-layout {
  background: $background-secondary;
}

.main-layout::-webkit-scrollbar {
  width: 6px;
  background: $background-secondary;
}

.main-layout::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c2c2;
}

.layout-child {
  width: 100%;
}

.layout-child-container-mobile {
  width: 100%;
  padding: 0 24px;
}

// Use media query to adjust width while accomodating for sidebar
.layout-child-container {
  width: 100%;
  padding: 56px 32px;

  @include for-phone-only() {
    padding: 16px;
  }
}

@media (min-width: 1524px) {
  .layout-child-container {
    padding: 56px 160px;
  }
}

.layout-footer {
  width: 100%;
}

// .footer-child-container {
// 	background: $black;
// 	padding: 16px 48px;
// 	width: 100%;
// 	position: relative;
// }

.text-center {
  text-align: center;
}

.layout-row {
  display: flex;
}

.layout-column {
  display: flex;
  flex-direction: column;
}

.layout-align-start-end {
  justify-content: flex-start;
  align-items: flex-end;
}

.layout-align-start-center {
  justify-content: flex-start;
  align-items: center;
}

.layout-align-center-center {
  justify-content: center;
  align-items: center;
}

.layout-align-space-between-center {
  justify-content: space-between;
  align-items: center;
}

.dropdown-container {
  position: absolute;
  display: block;
  top: 40px;
  right: 0;
  z-index: 1000;
  > :not(:last-child) {
    margin-bottom: 15px;
  }
}

.dropdown-box {
  position: relative;
  min-width: 250px;
  border: 1px solid $background-highlight;
  background-color: $background-highlight;
  box-shadow: 0 0 21px 4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  button {
    cursor: pointer;
  }
}

.slick-track {
  margin-left: 0 !important;
}
.slick-disabled::before {
  display: none !important;
}

.tooltip {
  background: #1e1e1e !important;
  border-radius: 8px !important;
  font-size: 11px;
  padding: 16px !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 14px;
  width: 180px;
}

.tooltip-airdrops {
  background: #1e1e1e !important;
  border-radius: 8px !important;
  font-size: 11px;
  padding: 16px !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 14px;
  width: fit-content !important;
}

.tooltip-pool-label {
  font-weight: 600;
  min-width: 208px;
}

.arrow {
  color: #1e1e1e !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.learnMoreLink {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  color: $color-secondary-pink;

  &:hover {
    color: $color-off-white;
  }
}

.custom-progress {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-progress-circle {
  position: absolute;
}

.progress-circle {
  color: $color-secondary-pink !important;
}

.progress-circle-bacground {
  color: $color-blue !important;
}

.progress-outer-circle {
  height: 96px;
  width: 96px;
  position: absolute;
  border: 15px solid;
  border-radius: 50%;
  border-left-color: $color-secondary-pink;
  border-top-color: $color-secondary-pink;
  border-right-color: $color-blue;
  border-bottom-color: $color-blue;
  transform: rotate(-45deg);
  opacity: 0.3;
}

.progress-inner-circle {
  height: 44px;
  width: 44px;
  position: absolute;
  border: 6px solid;
  border-radius: 50%;
  border-left-color: $color-secondary-pink;
  border-top-color: $color-secondary-pink;
  border-right-color: $color-blue;
  border-bottom-color: $color-blue;
  transform: rotate(-45deg);
  opacity: 0.3;
}

.apexcharts-legend {
  display: flex;
  // flex-direction: row-reverse !important;
  justify-content: flex-start !important;
  align-items: center !important;
  font-family: "Montserrat", sans-serif !important;
}

.apexcharts-legend-marker {
  height: 16px !important;
  width: 16px !important;
  margin-right: 8px !important;
  border-radius: 8px !important;
}

.apexcharts-legend-text {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: $color-off-white !important;
  margin-right: 8px !important;
}

.airdrops-tooltip {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tooltip-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    background: #010101;
    height: 32px;
    width: 32px;
    border-radius: 50%;

    .tooltip-text {
      font-size: 14px;
      font-weight: 600;
      line-height: 14px;
      margin: 0;
      color: $color-off-white;
    }

    .tooltip-image {
      height: 14px;
      margin: 0 8px;
    }
  }
}

.gradientText {
  background: linear-gradient(90deg, #f04adc 0%, #00dbff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.communityFarmingDropdown {
  background-color: #1e1e1e !important;
  left: 120px;
  top: 8px;

  .communityFarmingDropdownContainer {
    display: flex;
    flex-direction: column;
    background: $background-wallet-container;
    color: $color-off-white;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 16px;
    border-radius: inherit;
  }
}

.filter {
  display: flex;
  align-items: center;
  position: relative;

  .filterText {
    color: $color-off-white;
    font-size: 14px;
    min-width: 154px;
    text-align: right;
    line-height: 16px;
  }

  .arrowIcon {
    cursor: pointer;
  }

  .filterDropdown {
    min-width: 432px;

    .filterDropdownContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      max-height: 200px;
      box-sizing: border-box;
      flex-wrap: wrap;
      background: $background-wallet-container;
      color: $color-off-white;
      font-size: 14px;
      font-weight: 500;
      padding: 24px 32px;
      border-radius: inherit;

      .filterItem {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 16px;
        font-family: "Montserrat", sans-serif !important;
        font-weight: 700;
        cursor: pointer;

        .filterItemText {
          color: $color-off-white;
          margin-bottom: 0;
          cursor: pointer;
          width: 100%;
        }

        .filterItemTextActive {
          color: $color-secondary-pink;
          cursor: pointer;
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
  }
}
