.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  min-height: 218px;
}

.description_text_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  @include for-tablet-landscape-down {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;

    & > :first-child {
      margin-bottom: 16px;
    }
  }
}

.success_info_wrap {
  background: #1e1e1e;
  border-radius: 16px;
  padding: 12px 16px;
  max-width: 380px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 10px;
}

.success_info_text {
  line-height: 18px !important;
}

.success_info_link {
  color: #43b8d2;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

.success_close_button {
  position: absolute;
  color: #8c8c8c;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.percentage_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 16px;

  @include for-tablet-landscape-down {
    width: 100%;
    flex-direction: column;
  }

  .deposit_button {
    @include for-tablet-landscape-down {
      margin-top: 16px;
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }
}
