
.slider {
  height: 8px !important;
  border: 1px solid #2e2e2e !important;
  border-radius: 4px;
  background: #1e1e12 !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.thumb {
  height: 18px !important;
  width: 18px !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  margin-top: -6px !important;
}
