.table {
    width: 100%;
    border-collapse: collapse;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.outlineNoBgBtn:hover {
    background: #fff !important;
    border: 1px solid !important;
    color: #111111 !important;
}

.head {
    margin-bottom: 20px;
}
