.root {
  margin-bottom: 40px;
  border: 1px solid #fff;
  border-radius: none;
}

.head, .description {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}
.validatorImage{
  width:25px;
  height:25px;
  float:left;
  margin-right:5px;
}

.validatorName{
  padding-top: 5px;
  float:left;
}

.head:hover {
  border: 1px solid !important;
  color: white !important;
}

.pool_name_column {
  flex-basis: 70%;
}

.col_2 {
  flex-basis: 260px;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.col_23 {
  flex-basis: 360px;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.validator{
  justify-content: left;
}

//.head:hover {
//  border: 1px solid !important;
//  color: white !important;
//}

.description:hover {
  border: 1px solid !important;
  color: white !important;
}

.col_last {
  flex-basis: 60px;
  display: flex;
  justify-content: flex-end;

}

.dropdown_button {
  background: #1e1e1e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  &:hover{
    border: 1px solid !important;
    background: #3B3B3B;
  }
}


.blue_chip_pool {
  color: #43b8d2 !important;
}

.airdrops_plus_pool {
  color: #ad84ff !important;
}

.community_pool {
  color: #eb5fe2 !important;
}

.tags {
  margin-top: 1rem;
}

.tags > :not(:last-child) {
  margin-right: 10px;
}

.learn_more_link {
  font-size: 11px;
  margin-left: 16px;
  text-decoration: none !important;
  color: #eb5fe2 !important;
  font-weight: 600;
}

.form_table {
  //height: 220px;
}

.validator_table {
  height: 218px;
}
.activeRowFirst{
  border-bottom: 1px solid #3b3939;
}