.root {
  display: flex;
  align-items: center;

  img {
    margin-right: 16px;
    width: 24px;
  }
}

.blue_chip_pool {
  color: #43b8d2 !important;
}

.airdrops_plus_pool {
  color: #ad84ff !important;
}

.community_pool {
  color: #eb5fe2 !important;
}
