.root {
    display: flex;
   padding: 0 18px;
}

.pool_stake {
    width: 60%;
}

.col_1 {
    flex-basis: 70%;
}

.col_2_3 {
    flex-basis: 260px;
    display: flex;
    justify-content: center;
}

.validator{
    justify-content: left;
}

.col_2_4 {
    @extend .col_2_3;
    cursor: pointer;
    color: #FFFFFF;
    &:hover{
        p{
            color: #eb5fe2 !important;
        }
        color: #eb5fe2 !important;
    }
}
.col_2_5 {
    flex-basis: 360px;
    display: flex;
    justify-content: flex-start;
}
.col_2_6 {
    @extend .col_2_5;
    cursor: pointer;
    color: #FFFFFF;
    &:hover{
        p{
            color: #eb5fe2 !important;
        }
        color: #eb5fe2 !important;
    }
}

.col_4 {
    flex-basis: 60px;
    display: flex;
    justify-content: flex-end;

}