.dropdown_container {
  // position: absolute;
  display: block;
  // top: 40px;
  // left: 50%;
  // transform: translateX(-50%);
  // z-index: 1000;
  > :not(:last-child) {
    margin-bottom: 15px;
  }
}

.dropdown_box {
  min-width: 250px;
  border: 1px solid white;
  background-color: #1d1d1d;
  box-shadow: 0 0 21px 4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  button {
    cursor: pointer;
  }
}

.menu_paper {
  background-color: transparent;
  padding: 0 !important;
  & > ul {
    padding: 0;
  }
}
