.container {
  width: 100%;
  padding: 96px 0 40px;
  margin: auto;
  position: relative;

  @include for-tablet-landscape-down {
    padding: 0 !important;
  }

  .breadcrumbs {
    margin-bottom: 24px;

    @include for-tablet-landscape-up {
      display: none;
    }
  }

  .info_container {
    display: flex;
    align-items: center;
    justify-content: center;

    @include for-tablet-landscape-down {
      align-items: flex-start;
    }
  }
}

.grid_container {
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  width: 100%;

  @include for-tablet-landscape-up {
    max-width: 66.667%;
    padding: 16px;
  }

  .box {
    flex: 1;
    padding: 40px !important;

    @include for-tablet-landscape-down {
      padding: 40px 20px !important;
    }
  }
}

.auto_compounding_thumb {
  background: linear-gradient(180deg, #eb5fe2 0%, #a30f99 100%);
}

.auto_compounding_track {
  height: 8px !important;
  background: linear-gradient(
    90deg,
    #eb5fe2 0%,
    rgba(235, 95, 226, 0.4) 96.39%
  );
  border-radius: 4px 0 0 4px !important;
}

.retain_reward_track {
  height: 8px !important;
  background: linear-gradient(
    90deg,
    #43b8d2 0%,
    rgba(67, 184, 210, 0.4) 96.39%
  ) !important;
  border-radius: 4px 0 0 4px !important;
}

.retain_reward_thumb {
  background: linear-gradient(180deg, #42c2de 0%, #098fac 100%);
}
