
.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    background: #010101;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.image {
    height: 14px;
    margin: 0 8px;
    width: 14px;
}