.root {
  display: flex;
  justify-content: center;
  padding: 16px;

  @include for-tablet-landscape-up {
    // padding: 36px 32px;
    // min-height: 350px;
   
  }

 

  @include for-tablet-landscape-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0 !important;
    height: auto;
  }

  .container {
    min-width: 680px;
    width: 100%;
    @include for-tablet-landscape-down {
      min-width: auto;
    }
  }

  .headerTitle {
    @include for-tablet-landscape-down {
      display: flex;
      align-items: center;
     /* margin: 0 0 .75rem 0;*/
    }
    @include for-phone-only {
      display: flex;
      align-items: center;
     padding: 0 !important; 
     margin: 0;
    }
  }

  .headerWithInfo {
    @include for-tablet-landscape-down {
      margin: 0 !important;
    }
  }

  .value {
    @include for-tablet-landscape-down {
      font-size: 18px !important;
     /* margin-top: 0.9rem !important;*/
     margin-bottom: 00.9rem !important;
    }
    @include for-phone-only {      
      font-size: 20px !important;
      margin: 0 !important;
    }
  }
  .nativeToken {
    @include for-tablet-landscape-up {
      margin-top: 4px;
    }
    font-size: 12px;
  }
}
