.root {
  display: flex;
  justify-content: center;
  padding: 16px;

  @include for-tablet-landscape-up {
    padding: 36px 32px;
  }

  .container {
    max-width: 600px;
    width: 100%;

    .form_wrapper {
      @include for-tablet-landscape-down {
        padding: 1rem;
        margin-top: 1rem;
      }

      @include for-tablet-landscape-up {
        padding: 2rem 2.5rem;
        margin-top: 2rem;
      }
    }
  }
}
