.root {
  margin-bottom: 40px;
}

.head {
  display: flex;
  align-items: center;
  padding: 16px;

  @include for-tablet-landscape-up {
    padding: 18px 32px;
    cursor: pointer;
  }

  @include for-tablet-landscape-down {
    justify-content: space-between;
  }

  .pool_name_column {
    flex-basis: 70%;
  }

  .col_2 {
    display: flex;
    justify-content: center;

    @include for-tablet-landscape-up {
      flex-basis: 260px;
    }

    @include for-tablet-landscape-down {
      justify-content: flex-end;
    }

    .my_deposit_desktop {
      display: flex;
      align-items: center;

      @include for-tablet-landscape-down {
        display: none;
      }
    }
  }
}

.my_deposit_mobile {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 16px;

  @include for-tablet-landscape-up {
    display: none;
  }
}

.col_last {
  flex-basis: 160px;

  @include for-tablet-landscape-down {
    display: none !important;
  }
}

.dropdown_button_wrap {
  display: flex;
  justify-content: flex-end;
}

.dropdown_button {
  background: #1e1e1e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 4px;

  @include for-tablet-landscape-up {
    cursor: pointer;
  }

  @include for-tablet-landscape-down {
    height: 24px;
    width: 24px;
    font-size: 12px;
  }
}

.mobile_bottom_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px 16px;
  @include for-tablet-landscape-up {
    display: none;
  }
}

.desktop_tags {
  margin-top: 1rem;
  @include for-tablet-landscape-down {
    display: none;
  }
}

.tags > :not(:last-child) {
  margin-right: 10px;
}

.learn_more_link {
  font-size: 11px;
  margin-left: 16px;
  text-decoration: none !important;
  color: #eb5fe2 !important;
  font-weight: 600;
}

.form_table {
  margin-top: 1rem;
  @include for-tablet-landscape-up {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1.5rem;
    // display: none !important;
  }
  //height: 220px;
}

.form {
  grid-column-start: 1;
  grid-column-end: 8;
  @include for-tablet-landscape-down {
    display: none !important;
  }
}

.validator_table {
  height: 218px;
  @include for-tablet-landscape-up {
    grid-column-end: 13;
    grid-column-start: 8;
  }
}

.body {
  padding: 0 2rem 1rem;

  @include for-tablet-landscape-down {
    padding: 0 1rem 1rem;
  }

  .deposit_button {
    @include for-tablet-landscape-up {
      display: none;
    }
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
}

.form_modal {
  padding: 20px;
  text-align: center;
}
