.coinListSaleContainer {
  margin: 2.5rem 5rem;
}

.coinListSaleContent {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: 46% 46%;
  grid-template-rows: 1fr;
  gap: 4%;

  & > div {
    height: 100%;
  }
}
